.container {
  display: flex;
  gap: 10px;

  p {
    font-size: 1rem;
    font-style: italic;
  }

  h3 {
    font-size: 1rem;
  }

  .infoIcon {
    position: absolute;
    top: -3px;
    transition: transform 0.1s linear;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
