.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 20px;
  color: #fff;

  .mainTitle {
    text-align: center;
    font-size: 3rem;
  }

  .toggleSortBtn {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: #212023;
    outline: none;
    border: none;
    margin: auto;
    transition: all 0.2s linear;

    .arrowIcon {
      transition: all 0.2s linear;
    }

    &:hover {
      cursor: pointer;
      filter: brightness(1.5);

      .arrowIcon {
        transform: scale(1.1);
      }
    }
  }

  .rotate {
    transform: rotate(180deg);
  }

  .newsList {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
  }
}
